# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
yarn.lock
stats.html

node_modules
dist
dist-ssr
*.local
.firebaserc
.env
firebase.json
firebase-debug.log
firestore.rules
firestore.indexes.json


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.firebase/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
